body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ffeaf1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

svg {
  width: 600px;
  height: 600px;
  scale: 0.5;
  margin-left: calc(50% - 300px);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  border-radius: 4px;
  transition: all 0.25s ease;
}
button#btn-happy {
  background-color: #eb584d;
}
button#btn-happy:hover {
  background-color: #e62d1f;
}
button#btn-cool {
  background-color: #007185;
}
button#btn-cool:hover {
  background-color: #004652;
}
button#btn-sexy {
  background-color: #e5004e;
}
button#btn-sexy:hover {
  background-color: #b2003d;
}
button#btn-crazy {
  background-color: #883277;
}
button#btn-crazy:hover {
  background-color: #632456;
}

button:last-child {
  margin-right: 0;
}

button:focus {
  outline: none;
  border: 0;
}

.textBox {
  width: 280px;
  height: 160px;
  position: absolute;
  bottom: 60px;
  left: calc(50% - 140px);
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.textBox > h1 {
  color: #ffcb22;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.textBox > h2 {
  margin: 0px;
  font-size: 16px;
}
.textBox > .line {
  letter-spacing: 10px;
}

.copylight {
  font-size: 10px;
  color: #ffffff33;
  position: absolute;
  top: 0px;
}
